.error {
  color: red;
  margin-bottom: 10px;
}

/* contact.module.css */
.name {
  display: flex;
  gap: 10px;
}

.message {
  padding: 20px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
  outline: none;
}

.button {
  background-color: #051d40;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.map {
  width: 100%;
  height: 300px;
  border: none;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}